/* :: Responsive Design
-------------------------------------------------- */


/* :: Typography
-------------------------------------------------- */
	
	@media handheld, only screen and (max-width: 767px) {
		h1 { font-size: 32px; font-size: 3.2rem; line-height: 1.3; }
		h2 { font-size: 28px; font-size: 2.8rem; line-height: 1.3; }
		h3 { font-size: 21px; font-size: 2.1rem; line-height: 1.3; }
		h4 { font-size: 18px; font-size: 1.8rem; line-height: 1.2; }
		h5 { font-size: 16px; font-size: 1.6rem; line-height: 1.2; }
		h6 { font-size: 15px; font-size: 1.5rem; line-height: 1.2; }
		body, p {  font-size: 15px; font-size: 1.5rem; line-height: 1.4; }
	}


/* :: Grid
-------------------------------------------------- */
	
	/* Mobile */
	@media only screen and (max-width: 767px) {		
		body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
		.wrapper { min-width: 0; margin-left: 0; margin-right: 0; }
		.row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
		.row .row .column, .row .row .columns { padding: 0; }
		.column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
		.column:last-child, .columns:last-child { margin-right: 0; float: none; }
		[class*="column"] + [class*="column"]:last-child { float: none; }
		[class*="column"]:before, [class*="column"]:after { content:""; display:table; }
		[class*="column"]:after { clear: both; }
		
		.offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .centered { margin-left: 0 !important; }
		
		.push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
		.pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }
		
		/* Mobile 4-column Grid */
		.row .phone-one:first-child, .row .phone-two:first-child, .row .phone-three:first-child, .row .phone-four:first-child { margin-left: 0; }
		.row .phone-one:last-child, .row .phone-two:last-child, .row .phone-three:last-child, .row .phone-four:last-child { float: right; }
		
		.row .phone-one, .row .phone-two, .row .phone-three, .row .phone-four { margin-left: 4.4%; float: left; min-height: 1px; position: relative; padding: 0; }
		
		.row .phone-one 	{ width: 21.68% !important; }
		.row .phone-two 	{ width: 47.8% !important; }
		.row .phone-three 	{ width: 73.9% !important; }
		.row .phone-four 	{ width: 100% !important; }
		
		.row .push-one-phone { left: 26.08%; }
		.row .push-two-phone { left: 52.2% }
		.row .push-three-phone { left: 78.3% }
		
		.row .pull-one-phone { right: 26.08% }
		.row .pull-two-phone { right: 52.2% }
		.row .pull-three-phone { right: 78.3%; }
		
		
		.nv-pricing-table .nv-pricing-plan,
		#nv-tabs {margin:0;float:none !important;clear:both;}		
		
		.accordion-gallery-wrap,
		.stage-slider-wrap.nivo,
		.slider-3d-wrap,
		#th-poster,
		#th-group,
		#th-email-sub,
		.td-group,
		td.td-poster,
		td.thread-avatar,
		td.td-email-sub,
		td.td-group .object-name,
		.gallerytitle,
		.stagetext,
		.stagetextwrap,
		.animator-wrap,
		.checkout_cart .wpsc_product_image {display:none !important;visibility:hidden;}
		.columns .columns-inner {height:auto !important;}
		#nv-tabs.center {display:block;}
		
		.checkout_cart .wpsc_product_name {padding-left:0;}
		
		.group-slider .slidernav-left,
		.group-slider .slidernav-right {display:block !important;}
		
		
		.gallery-wrap .panel {margin-bottom:15px !important;}

		table.forum tr td, #topic-post-list li, table#message-threads tr td {padding:20px 5px !important;}
		li span.unread-count, 
		tr.unread span.unread-count {font-size:50%;}
		#message-threads span.activity,
		td.thread-options {font-size:65%;}
		
		div.forums-search-wrap {float:left !important;clear:both !important;width:100%;text-align:right;margin-bottom:15px;}
		#forums-search-form {position:relative !important;right:0 !important;}
		#forums_search {width:96%;background-color:#f9f9f9 !important;}
		.nv-dark #forums_search {background-color:#202020 !important;}
		.post-metadata li.post-date, .post-metadata li.post-format {width:100%;max-width:100%;}
		
		.grid-gallery .panel {width:100% !Important;}
		
	}
	


/* -------------------------------------------------- 
	:: Mobile Visibility Affordances
---------------------------------------------------*/
	
	
	.show-on-phones { display: none !important; }	
	.show-on-tablets { display: none !important; }
	.show-on-desktops { display: block !important; }
	
	.hide-on-phones { display: block !important; }	
	.hide-on-tablets { display: block !important; }
	.hide-on-desktops { display: none !important; }
	
	
	/* Modernizr-enabled tablet targeting */
	@media only screen and (max-width: 1280px) and (min-width: 768px) {
		.touch .hide-on-phones { display: block !important; }
		.touch .hide-on-tablets { display: none !important; }
		.touch .hide-on-desktops { display: block !important; }
		
		.touch .show-on-phones { display: none !important; }
		.touch .show-on-tablets { display: block !important; }
		.touch .show-on-desktops { display: none !important; }
	}
	
		
	@media only screen and (max-width: 767px) {
		.hide-on-phones { display: none !important; }
		.hide-on-tablets { display: block !important; }
		.hide-on-desktops { display: block !important; }
		
		.show-on-phones { display: block !important; }
		.show-on-tablets { display: none !important; }
		.show-on-desktops { display: none !important; }
	}

	@media only screen and (max-width: 768px) {
		.gallery-wrap .animator-wrap {display:none !important;visibility:hidden;}
		.show-on-tablets { display: block !important; }	
	}	
	
	/* Specific overrides for elements that require something other than display: block */
	
	table.show-on-desktops { display: table !important; }
	table.hide-on-phones { display: table !important; }	
	table.hide-on-tablets { display: table !important; }
	
	@media only screen and (max-width: 1280px) and (min-width: 768px) {
		.touch table.hide-on-phones { display: table !important; }
		.touch table.hide-on-desktops { display: table !important; }
		.touch table.show-on-tablets { display: table !important; }
	}
	
	@media only screen and (max-width: 767px) {
		table.hide-on-tablets { display: table !important; }
		table.hide-on-desktops { display: table !important; }
		table.show-on-phones { display: table !important; }
	}